{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "trailingComma": "es5",
  "useTabs": false,
  "quoteProps": "as-needed",
  "proseWrap": "preserve"
}
 